
.main {
    background-color: #31343a; 
    color:  white;
    height: 100vh;
    padding-top: 60px ;
    padding-bottom: 60px ;
}

.hello {
    font-size: x-large;
    color: white;
}

.skills {
    text-align: center;
}

.skillBar {
    height: 5px;
    background-color: white;
    
}

.skillsData {
    height: 5px;
    /* background-color: rgb(165, 238, 165); */
    background: rgb(0,8,13);
    background: linear-gradient(90deg, rgba(247,20,2,0.9387955865940126) 0%, rgba(114,251,34,1) 49%);
    transition: width 2s;
    width: 75%;
}

.floating-image {
    height: 75%;
    width: 75%;
        opacity: 0.8; /* Adjust opacity as desired */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow */
}
