
.main {
    background-color: #31343a; color:  white;
    min-height: 600px;
    padding-top: 60px ;
    padding-bottom: 60px ;
}

.hello {
    font-size: x-large;
    color: white;
}



.skillBar {
    height: 25px;
    background-color: white;
}

.skillsData {
    height: 25px;
    /* background-color: rgb(165, 238, 165); */
    background: rgb(0,8,13);
    background: linear-gradient(90deg, rgba(0,8,13,0.9387955865940126) 0%, rgba(45,43,198,1) 50%, rgba(0,255,252,1) 100%);
    transition: width 2s;
    color: black;
    width: 75%;
}